@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #605838;
}

li, a, button {
    font-family: 'Asul', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    background: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background: #303333;
    background: linear-gradient(176deg, rgba(2,0,36,1) 0%, rgba(60,60,60,1) 0%, #303333 100%);
    height: 23px;
}

i {
    color: white;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: rgba(167, 167, 4, 1);
    letter-spacing: 0.1rem;
    cursor: pointer;
    margin-right: auto;
}

.logo:hover {
    text-shadow: 1px 1px 5px rgba(224, 204, 88, 0.692);
    text-shadow: 0px 0px 3px rgba(247, 245, 237, 0.384);
    color: rgb(219, 207, 36);
}

.nav-links {
    list-style: none;
    background-color: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: rgba(167, 167, 4, 1);
}

button {
    padding: 9px 25px;
    background-color: rgba(167, 167, 4, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
}

button:hover {
    background-color: rgba(167, 167, 4, 0.7);
}

button:focus {
    outline: none;
    border: none;
}
.content {
    border-radius: 4px;
    height: 800px;
    max-width: 4000px;
    margin: 60px 80px;
    display: flex;
    justify-content: flex-start;
}

.content-right {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #f6edf2;
}

::-webkit-scrollbar {
    display: none;
    }

.top-nav {
    flex-basis: 44px;
    min-height: 44px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content:flex-end;
    align-items: center;
    padding-left: 10px;
    background: #303333;
    background: linear-gradient(176deg, rgba(2,0,36,1) 0%, rgba(60,60,60,1) 0%, #303333 100%);
}

.side-nav {
    width: 44px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    background: #303333;
    background: linear-gradient(176deg, rgba(2,0,36,1) 0%, rgba(60,60,60,1) 0%, #303333 100%);
    padding-top: 10px;
}

.icon {
    color: #f6edf2;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.3s ease 0s;
}

.icon-side {
    margin-bottom: 20px;
}

.icon-top {
    margin-right: 20px;
}

.icon:hover {
    color: rgb(224, 210, 14);
    text-shadow: 1px 1px 5px rgba(224, 204, 88, 0.692);
    text-shadow: 0px 0px 3px rgba(247, 245, 237, 0.384);
}

.todo-list-container {
    width: 100%;
    align-self: center;
    flex-grow: 1;
    display: flex;
    flex-flow: row;
    justify-content: center;
    overflow: hidden;
}

.todo-list {
    flex-grow: 10;
    overflow: scroll;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 10px;
}

.project-menu {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-flow: column;
    background-color: #f6edf2;
    margin: 10px 0 0 10px;
}

.project {
    display: flex;
    align-items: center;
    min-height: 30px;
    font-family: 'Asul', sans-serif;
    background-color: #85afaa;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
}

.project:nth-child(1) {
    margin-top: 10px;
}

.project:last-child {
    margin-bottom: 10px;
}

.project:hover {
    background-color: rgb(173, 173, 39);
}

.todo {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Asul', sans-serif;
    font-size: 16px;
    min-height: 30px;
    width: 70%;
    padding: 7px 10px 7px 15px;
    border-radius: 5px;
    margin: 2px;
    background-color: rgb(219, 219, 219);
    color: rgb(0, 0, 0);
}

.todo:nth-child(1) {
    margin-top: 10px;
}

.todo:last-child {
    margin-bottom: 10px;
}

.todo-icon {
    padding: 0 4px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    color: rgba(167, 167, 4, 1);
}

.todo-icon:hover {
    text-shadow: 1px 1px 5px rgba(224, 204, 88, 0.692);
    text-shadow: 0px 0px 3px rgba(247, 245, 237, 0.384);
    color: black;
}

.todo-text {
    padding-left: 11px;
}

.todo-date {
    margin-left: 15px;
    font-size: 12px;
    margin-right: 5px;
}

.project-text {
    margin-left: auto;
    margin-right: 5px;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 3px;
    background-color: #7cc25d;
}

.checked {
    color: rgb(49, 133, 74);
}

.assigned {
    color: rgb(131, 82, 49);
}

.date {
    position: absolute;
    display: none;
}

.active-date {
    position: relative;
    display: inline;
}

.pop-editor {
    height: 100px;
}

.edit-todo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px;
    background-color: #a7aa3c;
    border-radius: 5px;
    position: relative;
    bottom: 500px;
    margin: 0px 50px 0px 50px;
}

.editor-item {
    padding: 10px;
    font-family: 'Asul', sans-serif;
}

.add-project-form {
    position: relative;
    top: 22px;
    margin-left: 5px;
}

.add-project-submit {
    border: none;
    font-family: 'Asul', sans-serif;
    background-color: #85afaa;
    padding: 5px;
}

.delete-icon {
    color: #303333;
}

.delete-icon:hover {
    color: rgb(97, 46, 26);
}

.project {
    display: flex;
}

.delete-project-icon {
    margin-left: auto;
    margin-right: 2px;
    color: #303333;
}

.delete-project-icon:hover {
    color: rgb(97, 46, 26);
}

.project-active {
    background-color: rgba(167, 167, 4, 1);
}

.projects {
    display: none;
}

.active-project-picker {
    display: inline;
}